<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud to keep growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque
      obcaecati esse repudiandae aliquid! Magni ducimus quibusdam deleniti unde
      labore.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
        dolorum, ad non maxime animi, explicabo fugiat in excepturi, quod dolor
        fugit aliquam? Incidunt, vel quis.
      </p>
      <a class="link-with-arrow" href="#">Learn more</a>
    </div>
    <picture>
      <img class="feature__image" src="Images/person.jpeg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
        dolorum, ad non maxime animi, explicabo fugiat in excepturi, quod dolor
        fugit aliquam? Incidunt, vel quis.
      </p>
      <a class="link-with-arrow" href="#">Learn more</a>
    </div>
    <picture>
      <img class="feature__image" src="Images/person.jpeg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
        dolorum, ad non maxime animi, explicabo fugiat in excepturi, quod dolor
        fugit aliquam? Incidunt, vel quis.
      </p>
      <a class="link-with-arrow" href="#">Learn more</a>
    </div>
    <picture>
      <img class="feature__image" src="Images/person.jpeg" alt="" />
    </picture>
  </article>
</section>
